.CreateGroup { 
    background-color: #975252; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .App-header {
    font-size: calc(50px + 2vmin);
    color: white;
  }
  
  .Subheader {
    font-size: calc(20px + 2vmin);
    color: white;
  }

  .react-datepicker {
    border-radius: 2px;
    font-size: 1rem;
  }

  .react-datepicker__header {
    background-color: #f0fff8;
    border-radius: 2px;
    font-size: 1rem;
  }

  .react-datepicker__current-month{
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
  }

  .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range {
  border-radius: 0.3rem;
  background-color: #d3f2e4;
  color: #000000;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover {
  background-color: #f0fff8;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover {
  border-radius: 0.3rem;
  background-color: #ffd6d6;
}
