.Home { 
    background-color: #975252; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .App-header {
    font-size: calc(50px + 2vmin);
    color: white;
  }
  
  .App-subheader {
    font-size: calc(20px + 2vmin);
    color: white;
  }
  
  input { 
    width: calc(350px + 2vmin);
    height: calc(50px + 2vmin);
    font-size: calc(10px + 2vmin)
  }