.Wishlist { 
    background-color: #975252; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
  
.App-header {
  font-size: calc(50px + 2vmin);
  color: white;
}

.Subheader{
  font-size: calc(30px + 2vmin);
  color: white;
}

.Message{
  font-size: calc(15px + 2vmin);
  color: white;
}

.Item{    
  text-align: center;
  font-size: calc(15px + 2vmin);
  color: white;
}