.Wishlist { 
    background-color: #975252; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
  
.App-header {
  font-size: calc(50px + 2vmin);
  color: white;
}

.Subheader{
  font-size: calc(20px + 2vmin);
  color: white;
  font-weight: normal;
}

.Message{
  font-size: calc(15px + 2vmin);
  color: white;
}

.Item{    
  text-align: center;
  font-size: calc(7px + 2vmin);
  color: white;
  font-weight: normal;
  line-height: 0%;
}

b{
  font-size: calc(7px + 2vmin);
  font-weight: normal;
}

a:link {
  color: #03cdff;
}

a:visited{
  color: #e7a3ff;
}

a:hover {
  color: #e7a3ff;
}